.button{
    height:50px;
    border-radius: 8px;
    font-weight: 500;
    background:#835afd;
    color:#FFF;

    padding:0 32px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    cursor: pointer;
    border: 0;

    transition: filter 0.2;

    img{
        margin-right: 8px;
    }

    &:not(:disabled):hover{ // quando o botão disabled não estiver habilitado, aplique um houver com diminuição do brilho em 10%
        filter: brightness(0.9);
    }

    &:disabled{ //quando o botão estiver desabilitador, aplique.
        opacity: 0.6;
        cursor: not-allowed;
    }
}